body {
    background-color: #f7f7f7;
}
a:hover {
    text-decoration: none;
}
.main-container {
    margin-left: 80.5px;
    margin-right: 80.5px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1200px;
}
.topbar {
    display: block;
    line-height: 60px;
    background-color: #1e89e0;
}
.topbar-item.topbar-homepage {
    width: 112px!important;
}
.topbar-item.topbar-logout {
    float: right!important;
}
.topbar-item {
    font-size: 16px;
    position: relative;
    color: #fff;
    width: 104px;
    text-align: center;
    float: left;
}
h1 {
    font-size: 1.5rem;
    color: #fff;
}

a:hover {
    text-decoration: none;
}
.main-container {
    margin-left: 80.5px;
    margin-right: 80.5px;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1200px;
}
.cart-container {
    margin: 40px 0px 40px 0px;
    border: 1px solid #e6e6e6;
    background: #fff;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}