<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link href="{% static 'css/cart.css' %}" rel="stylesheet" charset="utf-8">
        <title>我的订单</title>
    </head>

    <body>
        <header class="topbar">
            <div class="row" style="margin-left: 80.5px;margin-right: 80.5px">
                <div class="col-3" style="padding-left: 0px">
                    <h1 style="
                            margin-top: 16px;
                            margin-bottom: 16px;
                        ">欢迎回来！{{ request.session.user_name}}</h1>
                </div>
                <div class="col">
                    <a href="/index/" class="topbar-item topbar-homepage">首页</a>
                    <a href="/index/customer_order/" class="topbar-item">我的订单</a>
                    <a href="/index/cart/" class="topbar-item">购物车</a>
                </div>
                <div class="col" style="padding-right: 0px">
                    <a href="/logout/" class="topbar-item topbar-logout">登出</a> 
                </div>
            </div>    
        </header>

        <div class="container main-container">
            <div class='row cart-container'>
                <div class='col-sm-12' style="padding: 0px">
                    <div class='panel panel-info'>
                        <div style="border-bottom: 1px solid #e6e6e6;">
                            <div class='panel panel-heading' style="
                                margin: 20px 0px 20px 20px;
                            ">
                            <h4>我的订单</h4>
                            </div>
                        </div>
                        
                        <div style="border-bottom: 1px solid #e6e6e6;">
                            <div class='panel panel-body' style="
                                margin: 40px 0px 20px 40px;
                            ">
                                {% for order in orders %}
                                {% if forloop.first %}
                                <table border=1>
                                    <tr>
                                        <td width=150 align="center"><strong>订单编号</strong></td>
                                        <td width=80 align="center"><strong>配送地址</strong></td>
                                        <td width=80 align="center"><strong>顾客</strong></td>
                                        <td width=80 align="center"><strong>商家</strong></td>
                                        <td width=80 align="center"><strong>骑手</strong></td>
                                        <td width=80 align="center"><strong>下单时间</strong></td>
                                        <td width=80 align="center"><strong>送达时间</strong></td>
                                        <td width=80 align="center"><strong>订单状态</strong></td>
                                        <td width=80 align="center"><strong>商家评分</strong></td>
                                        <td width=80 align="center"><strong>骑手评分</strong></td>
                                    </tr>
                                {% endif %}
                                    <div class='listgroup'>
                                        <div class='listgroup-item'>
                                            <tr>
                                                {% csrf_token %}
                                                <td class="order_id" align="center">{{ order.order_id }}</td>
                                                <td align="center">{{ order.address }}</td>
                                                <td align="center">{{ order.customer_id }}</td>
                                                <td align="center">{{ order.restaurant_id }}</td>
                                                <td align="center">{{ order.rider_id }}</td>
                                                <td align="center">{{ order.start_time }}</td>
                                                <td align="center">{{ order.end_time }}</td>
                                                <td align="center">{{ order.order_status }}</td>
                                                <td align="center"><a href="javascript:void(0)" class="change_rest">{{ order.rest_rating }}</a></td>
                                                <td align="center"><a href="javascript:void(0)" class="change_rider">{{ order.rider_rating }}</a> </td>
                                            </tr>
                                        </div>
                                    </div>
                                {% empty %}
                                    <em>无订单</em>
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
        <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="{% static 'scripts/customer_order.js' %}"></script>
    </body>
</html>


