<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link href="{% static 'css/index.css' %}" rel="stylesheet" charset="utf-8">
        <title>首页</title>
    </head>

    <body>
        {% csrf_token %}
        <header class="topbar">
            <div class="row" style="margin-left: 80.5px;margin-right: 80.5px">
                <div class="col-3" style="padding-left: 0px">
                    <h1 style="
                            margin-top: 16px;
                            margin-bottom: 16px;
                        ">欢迎回来！{{ request.session.user_name}}</h1>
                </div>
                <div class="col">
                    <a href="/index/" class="topbar-item topbar-homepage">首页</a>
                    <a href="/index/myOrder/" class="topbar-item">我的订单</a>
                    <a href="/index/cart/" class="topbar-item">购物车</a>
                </div>
                <div class="col" style="padding-right: 0px">
                    <a href="/logout/" class="topbar-item topbar-logout">登出</a> 
                </div>
            </div>    
        </header>

        <div class="container main-container" style="height: 60px;">
            <div class="location">
                <span>当前地址:</span>
                <span class="current_location">{{ request.session.address }}</span>
                <span>
                    <a href="" class="change_location">[切换地址]</a>
                </span>
            </div>
            <div class="search-bar">
                {{ index_form.rest_search }}
            </div>
        </div>

        <div class="container main-container" style="padding-top: 40px">
            <div class="filer-container">
                <div class="filer">
                    <span class="filer-main">商家分类:</span>
                    <a href="" class="filer-name">全部商家</a>
                    <a href="" class="filer-name">快餐</a>
                    <a href="" class="filer-name">日料</a>
                    <a href="" class="filer-name">中式料理</a>
                    <a href="" class="filer-name">西餐</a>
                    <a href="" class="filer-name">甜品</a>
                </div>
            </div>

            <div class="restaurant-container">
                <div class="clearfix">
                    {% for rest in rest_list %}
                    <a href="{{ rest.get_absolute_url }}" class="restaurants">
                        <div class="image-container">
                            <img src="{{ MEDIA_URL }}{{ rest.RImage }}" style="width: 70px; height: 70px;">
                        </div>
                        <div class="rest_name-container">
                            <div class="rest_name">
                                {{ rest.RName }}
                            </div>
                            <div class="rating" style="color: #999;">
                                评分: <!-- 用聚类方法 -->
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            
        </div>
            

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../static/scripts/index.js"></script>
    </body>
</html>