<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <!-- 把css编码改成utf-8才能加载，搞了半天。。。。-->
    <link href="{% static 'css/register.css' %}" rel="stylesheet" charset="utf-8">
    <title>注册界面</title>
</head>

<body>
    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-8">
                <h1>账户注册</h1>
            </div>
            <div class="col-4">
                我已注册，现在就
                <a href="/login/"><ins>登陆</ins></a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px;margin-bottom: 100px">
        <div class="col">
            <form class="form-register" action="/register/" method="POST">
                {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

                {% csrf_token %}
                <div class="form-group">
                    <p>
                        {{ register_form.username.label_tag }}
                        {{ register_form.username }}
                    </p>
                    <p>
                        {{ register_form.password.label_tag }}
                        {{ register_form.password }}
                    </p>
                    <p>
                        {{ register_form.confirm_pw.label_tag }}
                        {{ register_form.confirm_pw }}
                    </p>
                    <p>
                        {{ register_form.sex.label_tag }}
                        {{ register_form.sex }}
                    </p>
                    <p>
                        {{ register_form.last_name.label_tag }}
                        {{ register_form.last_name }}
                    </p>
                    <p>
                        {{ register_form.first_name.label_tag }}
                        {{ register_form.first_name }}
                    </p>
                    <p>
                        {{ register_form.birth.label_tag }}
                        {{ register_form.birth }}
                    </p>
                    <p>
                        {{ register_form.email.label_tag }}
                        {{ register_form.email }}
                    </p>
                    <p>
                        {{ register_form.phone.label_tag }}
                        {{ register_form.phone }}
                    </p>
                    <p>
                        {{ register_form.personal_ID.label_tag }}
                        {{ register_form.personal_ID }}
                    </p>
                    <p>
                        {{ register_form.role.label_tag }}
                        {{ register_form.role }}
                    </p>
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg btn-block" style="
                    margin-top: 40px;
                    padding-top: 6px;
                    padding-bottom: 6px;
                ">注册</button>
            </form>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>