<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link href="{% static 'css/restaurant_detail.css' %}" rel="stylesheet" charset="utf-8">
        <title>商家</title>
    </head>

    <body>
        <header class="topbar">
            <div class="row" style="margin-left: 80.5px;margin-right: 80.5px">
                <div class="col-3" style="padding-left: 0px">
                    <h1 style="
                            margin-top: 16px;
                            margin-bottom: 16px;
                        ">欢迎回来！{{ request.session.user_name}}</h1>
                </div>
                <div class="col">
                    <a href="/restaurant/" class="topbar-item topbar-homepage">我的餐厅</a>
                    <a href="/restaurant/restaurant_order/" class="topbar-item">我的交易</a>
                    <a href="/restaurant/restaurant_info/" class="topbar-item">商家信息</a>
                </div>
                <div class="col" style="padding-right: 0px">
                    <a href="/logout/" class="topbar-item topbar-logout">登出</a> 
                </div>
            </div>    
        </header>

        <div class="container main-container info-container" style="height: 180px;">
            <div class="rest_image-container">
                <img class="change_rest_image" src="{{ MEDIA_URL }}{{ rest_info.RImage }}" style="width: 140px; height: 140px;">
            </div>
            <div class="rest_name-container">
                <div class="rest_name">
                    {{ rest_info.RName }}
                </div>
                <div class="rating">
                    评分: {{ rest_rating }}
                </div>
            </div>

            <div class="food-container">
                <h2 style="margin-bottom: 40px;">全部美食:</h2>
                <div class="clearfix">
                    {% for food in rest_foods %}
                    <div class="food-box">
                        <div class="food-image" style="float: left;padding-right: 40px;">
                            <img src="{{ MEDIA_URL }}{{ food.FImage }}" style="width: 119px;height: 119px;">
                        </div>
                        <div class="food-info" style="height: 120px;padding-top: 10px;">
                            <span class="food_id" hidden>{{ food.food_id }}</span>
                            <div class="food-name">
                                <a href="javascript:void(0)" class="change_FName">{{ food.FName }}</a>
                            </div>
                            <span>
                                <a href="javascript:void(0)" class="change_price" style="color:red;padding-right: 30px;">
                                    ¥ {{ food.price }}
                                </a>
                            </span>
                            <p></p>
                            <span>
                                <a href="javascript:void(0)" class="change_count" style="color: #666;">
                                    剩余: {{ food.count }}
                                </a>
                            </span>
                        </div>
                            
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
        <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="../static/scripts/restaurant.js"></script>
    </body>
</html>
